@font-face {
    font-family: RSU;
    src: url('/font/RSU_Regular.ttf');
}

@font-face {
    font-family: RSU;
    src: url('/font/RSU_BOLD.ttf');
    font-weight: bold;
}

@font-face {
    font-family: RSU;
    src: url('/font/RSU_light.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: RSU-text;
    src: url('/font/RSU Text_Regular.ttf');
}

@font-face {
    font-family: RSU-text;
    src: url('/font/RSU Text_Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: RSU-text;
    src: url('/font/RSU Text_Italic.ttf');
    font-style: italic;
}

body {
    background-image: url('/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: #ffffff;
    font-family: RSU;
    font-size: 20px;
}

.main-container {
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.top-logo-container {
    height: 100px;
    text-align: center;
}

.top-logo {
    margin-top: -75px;
    width: 180px;
}

.text-content {
    font-family: RSU-text;
    font-size: 20px;
}

h1 {
    font-size: 80px;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-weight: bold; 
}

h3 {
    font-size: 45px;
    font-weight: bold; 
}

a {
    color: #ffffff;
    text-decoration: underline;
}

a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.button {
    background-color: #ffffff;
    color: #5e4a88;
    border-radius: 4px;
    border-width: 0px;
    text-decoration: none;
    min-width: 100px;
    margin-bottom: 8px;
    padding-top: 6px;
}

.button-invert {
    background-color: transparent;
    color: #ffffff;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    text-decoration: none;
    min-width: 100px;
    margin-bottom: 8px;
    padding-top: 6px;
}

.form-control,
.form-control:focus {
    font-size: 18px;
    color: #ffffff;
    background-color: #1c6688;
    border-width: 0px;
}

hr {
    border-color: #ffffff;
}